.App {
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: -40px;
  padding-top: 2vh;
}
.total-spent {
  text-align: left;
}
.totals-titles {
  font-size: 20px;
}
.totals {
  margin-top: -2px;
  font-size: 25px;
}
